@import shared
@import colors

@import header
@import footer

@import page-main
@import page-list
@import page-new
@import page-about
@import page-faq
@import page-contact

@import page-song

*
  padding: 0
  margin: 0

  &:after
    box-sizing: border-box

  &:before
    box-sizing: border-box

body
  background-color: #B2C7C0

#container
  background-color: $lightPurple
  max-width: 850px
  margin: 20px auto
  box-shadow: 0 0 20px 2px rgba(0,0,0,.5)

  #view
    padding: 10px 100px

h3
  color: $purple
  font-size: 38px
  text-align: center
  border-top: 1px solid black
  border-bottom: 1px solid black
