#listPage

  .list
    padding-top: 20px

    .song
      cursor: pointer
      display: inline-block
      width: 100%
      margin: 5px 0
      padding: 10px 0
      background-color: $purple

      &:hover
        background-color: $darkPurple
        color: $lightPurple

      a
        padding-left: 20px
