<div id="songPage">
  <h3>{{title}}</h3>

  <div class="links">
    <button class="btn" ng-disabled="!song.meta.sheetmusic" ng-click="download('img/sheetmusic/' + title + '.pdf')">Sheet Music</button>
    <button class="btn" ng-disabled="!song.meta.mp3" ng-click="download('snd/mp3/' + title + '.mp3')">MP3</button>
    <button class="btn" ng-disabled="!song.meta.mp3a" ng-click="download('snd/mp3a/' + title + '.mp3')">MP3 Accompaniment</button>
    <button class="btn" ng-disabled="!song.meta.satb" ng-click="download('img/satb/' + title + '.pdf')">Sheet Music SATB</button>
  </div>

  <img ng-show="song.meta.img" ng-src="img/songs/{{title}}.png">
  <div class="info">{{song.info}}</div>

  <div class="title">{{title}}</div>
  <div class="verse" ng-repeat="verse in song.lyrics">
    <div class="line"ng-repeat="line in verse">{{line}}</div>
  </div>
</div>
