.wrapper
  font-size: 18px

  li
    list-style: none

  .section
    padding: 10px
    min-height: 200px

  .text
    min-width: 300px

  .family
    float: right

  .husband
    float: left
    width: 300px
    padding-right: 40px

  p
    padding-bottom: 20px
