@import '../common/styles'

.song {
  background-color: $purple
  color: black
  cursor: pointer
  display: inline-block
  margin: 5px 0
  padding: 10px 0
  padding-left: 20px
  text-decoration: none
  width: 100%
}

.song:first-child {
  margin-top: 0
}

.song:hover {
  background-color: $darkPurple
  color: $lightPurple
}

.controls {
  display: flex
  margin: 15px 0
}

.controls input {
  flex: 1
  margin-left: 10px
}
