* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: #b2c7c0;
  font-family: 'Raleway', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

h1 {
  background-color: #ce87e9;
  padding: 10px;
  text-align: center;
}

h2 {
  color: #ce87e9;
  font-size: 38px;
  text-align: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

ul {
  list-style: none;
}

.btn {
  margin: 0;
  vertical-align: middle;
  cursor: pointer;
  font-weight: normal;
  font-family: 'Raleway', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  display: inline-block;
  padding: 4px 12px;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  text-decoration: none;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  background-color: #f5f5f5;
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #cccccc;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #b3b3b3;
  border-radius: 4px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),
    0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.btn:hover,
.btn:focus,
.btn:active,
.btn[disabled] {
  color: #333333;
  background-color: #e6e6e6;
}

.btn:active {
  background-color: #cccccc \9;
  background-image: none;
  outline: 0;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn:hover,
.btn:focus {
  text-decoration: none;
  background-position: 0 -15px;
  transition: background-position 0.1s linear;
}

.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn[disabled] {
  cursor: default;
  background-image: none;
  opacity: 0.65;
  box-shadow: none;
}

#app {
  background-color: #eae2fb;
  max-width: 850px;
  padding: 10px;
  margin: 20px auto;
  box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.5);
}
#app > div {
  padding: 10px 90px;
}

nav {
  margin: 20px 0 10px;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
}
nav ul {
  background-color: #ce87e9;
  display: flex;
  justify-content: center;
}
nav a {
  color: white;
  display: block;
  cursor: pointer;
  margin: 10px 5px;
  outline: none;
  padding: 10px 20px;
  position: relative;
  text-decoration: none;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
  transition: color 0.3s;
}
nav a::after,
nav a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 2px;
  background: #fff;
  transition-duration: 300ms;
}
nav a::before {
  transition-property: top;
  width: 100%;
}
nav a::after {
  transition-property: height;
  width: 2px;
}
nav a:focus,
nav a:hover {
  color: #740099;
  outline: none;
}
nav a:focus::before,
nav a:hover::before {
  opacity: 1;
  top: 100%;
}
nav a:focus::after,
nav a:hover::after {
  height: 100%;
}

footer {
  background-color: #ce87e9;
  margin-top: 10px;
  padding: 10px;
  text-align: center;
}

#home p {
  margin: 20px 0;
  font-weight: bold;
}
#home .centered {
  text-align: center;
}

#songs .controls {
  display: flex;
  margin: 15px 0;
}
#songs .controls input {
  flex: 1;
  margin-left: 10px;
}
#songs .song {
  background-color: #ce87e9;
  color: black;
  cursor: pointer;
  display: inline-block;
  margin: 5px 0;
  padding: 10px 0;
  padding-left: 20px;
  text-decoration: none;
  width: 100%;
}
#songs .song:first-child {
  margin-top: 0;
}
#songs .song:focus,
#songs .song:hover {
  outline: none;
  background-color: #740099;
  color: #eae2fb;
}

#song .links {
  text-align: center;
  padding-top: 10px;
}
#song .info {
  padding-top: 10px;
  font-style: italic;
  display: flex;
}
#song .info > :first-child {
  flex: 1;
}
#song .info :not(:first-child) {
  padding-left: 20px;
}
#song .title {
  padding-top: 16px;
  text-align: center;
  font-size: 20px;
}
#song .verse {
  padding-top: 20px;
}
#song .line {
  text-align: center;
}

#whats-new p {
  padding-top: 10px;
}
#whats-new .item {
  padding: 20px 0;
}

#about-me {
  font-size: 18px;
}
#about-me li {
  padding-bottom: 8px;
}
#about-me p {
  padding-bottom: 20px;
}
#about-me > .section {
  padding-top: 8px;
  display: flex;
}
#about-me > .section > * {
  width: 325px;
}
#about-me > .section > :first-child {
  padding-right: 16px;
}
#about-me > .section > :last-child {
  padding-left: 16px;
}

#faq p {
  padding: 10px 0;
}
#faq td {
  padding: 10px;
}

#contact-me p {
  padding-top: 20px;
}
