.title {
  background-color: #ce87e9;
  padding: 10px;
  text-align: center;
}

.nav {
  background-color: #ce87e9;
  text-align: center;
}

.nav a {
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 10px 5px;
  outline: none;
  padding: 10px 20px;
  position: relative;
  text-decoration: none;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
  transition: color 0.3s;
}

.nav a::after,
.nav a::before {
  background: #fff;
  content: '';
  height: 2px;
  left: 0;
  position: absolute;
  top: 0;
}

.nav a::before {
  transition: top 0.3s;
  width: 100%;
}

.nav a::after {
  transition: height 0.3s;
  width: 2px;
}

.nav a:hover {
  color: #740099;
  outline: none;
}

.nav a:hover::before {
  opacity: 1;
  top: 100%;
}

.nav a:hover::after {
  height: 100%;
}

.nav a:focus {
  outline: none;
}

.view {
  padding: 10px 100px;
}

.pad {
  padding: 10px;
}

.copyright {
  background-color: #ce87e9;
  padding: 10px;
  text-align: center;
}
